<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link href="../static/css/app.css" th:href="@{/css/app.css}" rel="stylesheet">
</head>
<body>
<div class="generic-container">
    <div th:insert="fragments/authheader :: authheader"></div>
    <div class="well lead">User Registration Form</div>
    <form action="/admin/add" method="post" class="form-horizontal" th:object="${userDTO}">
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-label">First Name</label>
                <div class="col-md-7">
                    <input type="text" name="firstname" class="form-control input-sm" required="required"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-label">Surname</label>
                <div class="col-md-7">
                    <input type="text" name="surname" class="form-control input-sm" required="required"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-label">Login</label>
                <div class="col-md-7">
                    <input type="text" name="username" class="form-control input-sm" required="required"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-label">Password</label>
                <div class="col-md-7">
                    <input type="password" name="password" class="form-control input-sm" required="required"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-label">Roles</label>
                <div class="col-md-7">
                    <select class="form-control input-sm" multiple="true" name="roles">
                        <option th:each="role : ${roles}" th:value="${role}" th:text="${role}" th:selected="${roles}"></option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-actions floatRight">
                <input type="submit" value="Register" class="btn btn-primary btn-sm"/>
                <a class="btn btn-primary btn-sm" th:href="@{/admin/}"> Cancel</a>
            </div>
        </div>

    </form>
</div>
</body>
</html>